body {
  background: #FFFAFA;
  color: #2F4F4F;
  margin-top: 3rem;
}

.content-col{
    background: #F5F5F5;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    height: 50vh;
    justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

#navbarToggle {
    justify-content: center;
}

.header-nav, .site-footer {
  background-color: #00BFFF;
}

.site-header .navbar-nav .nav-link, .footer-links {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover, .footer-links:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.site-footer{
    height: 3rem;
    padding: 0.75rem;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.page_title {
    color: #FFA500;
}